.topnav
{
	overflow: hidden;
	background-color: darkgray;
}
.topnav a 
{
	float: left;
	display: block;
	color: whitesmoke;
	text-align: center;
	padding: 30px;
	text-decoration: none;
	font-family: Georgia;
	font-size: 18px;
}
.topnav a:hover
{
	background-color: lightgray;
	color: black;
}
.topnav a.active
{
	background-color: darkkhaki;
	color: whitesmoke;
	float: left;
}
h1
{
	font-family: Papyrus;
	text-shadow: 3px 3px black;
	font-size: 70px;
	text-align: center;
	padding: 40px;
	color: darkkhaki;
}
*
{
	box-sizing: border-box;
}
.column
{
    float: left;
    width: 25%;
    padding: 0 10px;
}
.row
{
	margin: 0 -5px;
}
.row:after
{
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.card
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: darkgrey;
}
.card:hover
{
	background-color: whitesmoke;
}
h3
{
	font-family: Copperplate;
	font-size: 35px;
	text-align: center;
	color: black;
	padding: 40px;
}
p
{
	padding: 10px;
    font-family: Garamond;
    color: firebrick;
    font-size: 20px;
}
h3:hover
{
	color: darkgray;
}